.lib-manager-box {
    position: absolute;
    background: #1f1f1f;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 99;

    .header {
        height: 40px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #333;
        position: sticky;
        top: 0;
        z-index: 99;
        background: #222;

        .btns {
            position: absolute;
            right: 10px;
            i{
                margin-right: 5px;
            }
        }

        .btn {
            height: 40px;
            width: 40px;
            font-size: 19px;
            flex-shrink: 0;
        }

        nz-input-group {
            width: 160px;
            flex-shrink: 0;
            margin: 0 15px 0 10px;
        }
    }
}

.tag-list {
    white-space: nowrap;

    nz-tag {
        cursor: pointer;
    }
}

.error {
    color: rgb(133, 8, 8) !important;
}