<div class="model-detail">
    @if(modelDetail) {
    <div class="title">{{ modelDetail.name }}</div>
    <div class="content sscroll">
        <div class="description">
            <div class="model-image" *ngIf="modelDetail.pic_url">
                <img [src]="modelDetail.pic_url" [alt]="modelDetail.name">
            </div>
            {{ modelDetail.description }}
        </div>
        <div [innerHTML]="getSafeHtml(modelDetail.content)"></div>

        <!-- <div class="labels" *ngIf="modelDetail.labels && modelDetail.labels.length > 0">
            <div class="label-title">标签分类：</div>
            <div class="label-list">
                <div class="label-item" *ngFor="let label of modelDetail.labels">
                    <span class="label-id">{{ label.object_id }}</span>
                    <span class="label-name">{{ label.object_name }}</span>
                </div>
            </div>
        </div> -->
    </div>

    <!-- <div class="model-info">
                <div class="info-item">
                    <span class="label">作者：</span>
                    <span>{{ modelDetail.author_name }}</span>
                </div>
                <div class="info-item">
                    <span class="label">版本：</span>
                    <span>{{ modelDetail.version }}</span>
                </div>
                <div class="info-item">
                    <span class="label">模型大小：</span>
                    <span>{{ (modelDetail.model_size | number) || '0' }} bytes</span>
                </div>
                <div class="info-item">
                    <span class="label">部署次数：</span>
                    <span>{{ modelDetail.deploy_num }}</span>
                </div>
                <div class="info-item">
                    <span class="label">浏览次数：</span>
                    <span>{{ modelDetail.view_num }}</span>
                </div>
                <div class="info-item">
                    <span class="label">点赞数：</span>
                    <span>{{ modelDetail.like_num }}</span>
                </div>
            </div> -->

    <div class="actions bottom">
        <button nz-button nzType="default" (click)="onClose()">
            返回
        </button>
        <button nz-button nzType="primary" (click)="onDeploy(modelDetail)">
            部署模型
        </button>
    </div>
    }@else {
    <div class="title">
        <nz-skeleton [nzTitle]="true" [nzActive]="true"></nz-skeleton>
    </div>
    <div class="content">
        <nz-skeleton [nzActive]="true"></nz-skeleton>
    </div>
    }
</div>