.devtool-box {
    position: absolute;
    bottom: 1px;
    left: 185px;
    display: flex;
    gap: 5px;
    align-items: center;
    background: rgba(20, 20, 20, 0.6);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    height: 40px;
    transition: all 0.3s ease;
    overflow: hidden;
    z-index: 999;


    .btn {
        background: #333;
        border-radius: 5px;
        padding: 5px;

        &:hover {
            background: #666;
        }

        i{
            margin-right: 4px;
        }

        i.fa-xmark{
            color: red;
        }
    }
}