.window-box {
    height: 100%;
    position: relative;
}

.top {
    padding: 10px;
    // border-bottom: 1px solid #444;
}



.sync-btn {
    width: 100%;

    i {
        margin-right: 10px;
        transition: transform 0.3s ease;

        &.spinning {
            animation: spin 1s linear infinite;
        }
    }

}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.section-title {
    margin: 15px 10px 0 10px;
    font-size: 14px;
    color: #fff;
    border-bottom: 1px solid #444;
    position: relative;

    .title {
        height: 30px;
    }

    .search-btn {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;

        &:hover {
            color: #00bfff;
        }
    }

    .search-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 32px;
        display: flex;
        padding-left: 10px;
        background: #363636;
        border: 1px solid #434343;
        border-radius: 5px;
        overflow: hidden;

        input {
            background: transparent;
            height: 30px;
            border: none;
            outline: none;
            color: #fff;
            flex-grow: 1;
        }

        .close-btn {
            width: 30px;
            height: 30px;
            cursor: pointer;

            &:hover {
                color: #00bfff;
            }
        }
    }
}


.item-list {
    padding: 10px;
    height: calc(100% - 95px);
    overflow-y: auto;
}

.item {
    display: flex;
    padding: 5px;
    background: #444;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;

    &:hover {
        .content {
            filter: blur(3px);
        }

        .btns {
            display: flex;
        }
    }

    .content {
        display: flex;
        padding: 5px;
        background: #444;
        filter: blur(0);
        transition: all 0.3s;

        .left {
            margin-right: 10px;

            img {
                width: 170px;
                border-radius: 5px;
            }
        }

        .right {
            display: flex;
            flex-direction: column;

            .title {
                font-size: 14px;
                color: #fff;
                margin-bottom: 5px;
            }

            .text {
                font-size: 12px;
                color: #ccc;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .btns {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        background: rgba(0, 0, 0, 0.6);
        gap: 15px;

        button {
            background: transparent;
            border: none;
            color: #fff;
            padding: 5px 10px;
            cursor: pointer;
            display: flex;
            flex-direction: column;

            i {
                font-size: 18px;
                margin-bottom: 5px;
            }

            &:hover {
                color: #00bfff;
            }

            &.delete {
                &:hover {
                    color: #d8171b;
                }
            }
        }
    }
}