<div class="login-box ccenter">
    <div class="inner">
        <div class="header">登陆后即可使用我们的服务</div>
        <div class="line"></div>
        <div class="btns">
            <div class="item ccenter" (click)="select('github')" [ngClass]="{'active':mode=='github'}">
                <div class="icon ccenter"><i class="fa-brands fa-github"></i></div>
                Github
            </div>
            <!-- <div class="item ccenter" (click)="select('google')" [ngClass]="{'active':mode=='google'}">
            <i class="fa-brands fa-google"></i>
            Google
        </div>
        <div class="item ccenter" (click)="select('microsoft')" [ngClass]="{'active':mode=='microsoft'}">
            <i class="fa-brands fa-microsoft"></i>
            Microsoft
        </div>
        <div class="item ccenter" (click)="select('wechat')" [ngClass]="{'active':mode=='wechat'}">
            <i class="fa-brands fa-weixin"></i>
            WeChat
        </div> -->
            <div class="item ccenter" (click)="select('phone')" [ngClass]="{'active':mode=='phone'}">
                <div class="icon ccenter"><i class="fa-light fa-mobile"></i></div>
                Phone
            </div>

        </div>
        @switch(mode){
        @case ('github') {
        <div class="description">
            <div>
                登录后您可以：
                <ul>
                    <li>免费试用 AI 问答功能</li>
                    <li>分享你的项目</li>
                    <li>享受个性化的开发体验</li>
                </ul>
                <div class="notice">
                    <strong>注意：</strong>我们会使用您的 GitHub 账号为我们的几个开源仓库点 star，这有助于支持我们的项目发展。
                </div>
            </div>
            <div class="login-btn">
                <button nz-button nzType="primary" (click)="loginByGithub()">Github登录</button>
            </div>
        </div>
        }
        @case ('google') {

        }
        @case ('wechat') {
        <div class="wechat ccenter">
            <div class="qrcode">

            </div>
            <div>
                扫描二维码关注公众号并登录
            </div>
        </div>
        }
        @case ('microsoft') {

        }
        @case ('phone') {
        <div class="description">
            <div>
                暂未开放手机号注册<br />
                手机号号登录仅限AI功能内测用户使用
            </div>
        </div>
        <div class="phone-login-box">
            <div class="item">
                <div class="ccenter">
                    <i class="fa-light fa-user"></i>
                </div>
                <input nz-input spellcheck="false" type="text" placeholder="请输入手机号" [(ngModel)]="inputUsername" />
            </div>
            <div class="item">
                <div class="ccenter">
                    <i class="fa-light fa-lock"></i>
                </div>
                <input nz-input type="password" placeholder="请输入密码" [(ngModel)]="inputPassword" />
            </div>
            <div class="actions">
                <button nz-button nzType="primary" [nzLoading]="isWaiting" (click)="loginByPhone()">
                    {{ isWaiting ? '登录中...' : '登录' }}
                </button>
            </div>
        </div>
        }
        @default {
        <div class="text text2">点击选择登录方式</div>
        }
        }
    </div>
</div>