<app-tool-container [title]="'USER CENTER'" (closeEvent)="close()">
    <ng-container *ngTemplateOutlet="windowBoxTemplate"></ng-container>
</app-tool-container>
<ng-template #windowBoxTemplate>
    <div class="window-box">
        <div class="user-info">
            <div class="avatar ccenter">
                <i class="fa-thin fa-user"></i>
            </div>
            <div class="username">
                @if (!isEditingNickname) {
                <span
                    class="username__text"
                    [class.username__text--placeholder]="!displayNickname"
                    (click)="onStartNicknameEdit($event)"
                    (keydown.enter)="onStartNicknameEdit($event)"
                    (keydown.space)="onStartNicknameEdit($event)"
                    tabindex="0"
                    role="button"
                >
                    {{ displayNickname || '点击设置昵称' }}
                </span>
                } @else {
                <div class="nickname-edit">
                    <input
                        #nicknameInput
                        nz-input
                        maxlength="30"
                        placeholder="请输入新的昵称"
                        [(ngModel)]="editedNickname"
                        [disabled]="nicknameSaving"
                        (blur)="onNicknameBlur()"
                        (keydown.enter)="onSaveNickname()"
                        (keydown.escape)="onCancelNicknameEdit($event)"
                    />
                    <div class="nickname-edit__hint">
                        支持中英文，长度不超过30个字符。
                    </div>
                    <div class="nickname-edit__error" *ngIf="nicknameError">
                        {{ nicknameError }}
                    </div>
                </div>
                }
            </div>
            <div class="user-login" *ngIf="currentUser?.login">
                <span class="label">账号</span>
                <span class="value">{{ currentUser?.login }}</span>
            </div>
        </div>
        <div class="user-data">
            <div class="item">
                <div class="icon ccenter">
                    <i class="fa-light fa-dollar-sign"></i>
                </div>
                <div class="content">
                    <div class="headline">
                        <span class="label">Token</span>
                        <span class="value">{{ currentUser?.quota?.total_token || 0 }}</span>
                    </div>
                    <div class="meta">
                        <span class="chip">free {{ currentUser?.quota?.details?.free_limit || 0 }}</span>
                        <span class="chip">paid {{ currentUser?.quota?.details?.paid_limit || 0 }}</span>
                        <span class="chip">gift {{ currentUser?.quota?.details?.gift_limit || 0 }}</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="icon ccenter">
                    <i class="fa-light fa-chart-line"></i>
                </div>
                <div class="content">
                    <div class="headline">
                        <span class="label">Token usage</span>
                        <span class="value">{{ currentUser?.quota?.used_token || 0 }}</span>
                    </div>
                    <div class="progress" aria-hidden="true">
                        <div class="active" [style.width.%]="quotaUsagePercent"></div>
                    </div>
                    <div class="meta" *ngIf="quotaUsagePercent">
                        <span class="chip">{{ quotaUsagePercent }}% used</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="icon ccenter">
                    <i class="fa-light fa-clock-rotate-left"></i>
                </div>
                <div class="content">
                    <div class="headline">
                        <span class="label">Free Token reset time</span>
                    </div>
                    <div class="value value--muted">{{ currentUser?.quota?.reset_time || '-' }}</div>
                </div>
            </div>
        </div>
        <div class="actions">
            <!-- <button nz-button nzType="primary" (click)="onLogout()">
                修改用户信息
            </button>
            <button nz-button nzType="primary" (click)="onLogout()">
                修改用户信息
            </button> -->
            <button nz-button nzType="primary" (click)="onLogout()">
                登出
            </button>
        </div>
    </div>
    @if(!isLoggedIn){
    <app-login></app-login>
    }
</ng-template>