.window-box {
    padding: 0 15px;

    .user-info {
        border-bottom: 1px #666666 solid;
        padding: 15px 0;
        margin-bottom: 15px;

        .avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px #666 solid;

            i {
                color: #666;
                font-size: 30px;
            }
        }


    }

    .item {
        display: flex;
        align-items: center;
        height: 40px;
    }

    .actions {
        width: 100%;

        button {
            width: 100%;
        }
    }
}