.project-new-box {
  position: relative;
  background: #1f1f1f;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
}

.header {
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #333;
  position: sticky;
  top: 0;
  z-index: 99;
  background: #222;

  .btns {
    position: absolute;
    right: 10px;

    i {
      margin-right: 5px;
    }
  }

  .btn {
    height: 40px;
    width: 40px;
    font-size: 19px;
    flex-shrink: 0;
  }

  nz-input-group {
    width: 160px;
    flex-shrink: 0;
    margin: 0 15px 0 10px;
  }
}


.content {
  // flex-grow: 0;
  height: calc(100% - 40px);
  display: flex;
  position: relative;

  .left {
    width: 210px;
    height: 100%;
    padding: 15px;
    flex-shrink: 0;
    position: relative;
    border-right: 1px solid #333;

    .left-inner {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .steps-box {
      height: 100%;
      flex-direction: column;
    }
  }

  .right {
    padding: 15px;
    flex-grow: 1;
    overflow: hidden;
    position: relative;

    .right-inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;

      &.flex-start {
        justify-content: flex-start;
      }

      .item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        height: 40px;
        max-width: 600px;
        position: relative;

        >div:first-child {
          width: 120px;
          flex-shrink: 0;
        }

        input {
          background: #363636;
          z-index: 1;
          color: rgba(255, 255, 255, 0.7) !important;

          &.board {
            border-radius: 2px 0 0 2px;
          }
        }

        nz-select {
          width: 150px;
          flex-shrink: 0;
          margin-left: -1px;
          background: #363636;

          ::ng-deep {
            nz-select-top-control {
              border-radius: 0 2px 2px 0;
            }
          }
        }

        .error {
          color: rgb(255, 80, 80);
          font-size: 12px;
          position: absolute;
          bottom: -15px;
          left: 130px;
        }
      }

      nz-input-group {
        background: #363636;

        ::ng-deep {
          .ant-input-group-addon {
            width: 35px;
            height: 32px;
            padding: 0;
          }
        }
      }
    }
  }
}

// .footer {
//   border-top: 1px solid #222427;
//   height: 60px;
//   position: relative;

//   .btns {
//     display: flex;
//     align-items: center;
//     position: absolute;
//     right: 0;
//     height: 100%;

//     button {
//       margin-right: 15px;
//     }
//   }
// }

.fa-spinner-third {
  animation: rotate45 1s steps(60, end) infinite;
}

@keyframes rotate45 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.board-selector-box {
  flex-grow: 1;
  overflow-y: auto;
}

.board-selector {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  border-radius: 5px 0 0 5px;

  .board {
    min-width: 180px;
    max-width: 210px;
    height: 110px;
    background: #3e4243;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 2px solid #3e4243;

    @media (max-width: 1059px) {
      min-width: 200px;
    }

    img {
      height: 80px;
    }

    &.selected {
      border: 2px solid #007bff;
    }

    .name {
      white-space: nowrap;

      span {
        color: rgb(154, 154, 255);
      }
    }

    &.disabled {
      background: #3f3f3f;
    }
  }
}

.desc-box {
  height: 210px;
  flex-shrink: 0;
  width: 100%;
  border-radius: 5px;
  margin-top: 15px;
  padding: 5px 10px 5px 0;
  background: rgba(59, 59, 59, 0.9);
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;

  .img-box {
    width: 200px;
    height: 180px;
    flex-grow: 0;
    flex-shrink: 0;
    border-right: 1px solid #4a4a4a;

    img {
      max-height: 120px;
    }
  }

  .content {
    padding-left: 15px;
    height: 100%;
    width: 100%;
    color: #bbb;
    display: flex;
    flex-direction: column;
    position: relative;

    .title {
      border-bottom: 1px solid #43494b;
      margin-bottom: 3px;
      position: relative;
      height: 30px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 5px;
    }

    .text {
      height: calc(100% - 40px);
      width: calc(100% + 10px);
      padding-right: 5px;
      overflow-y: scroll;
      margin-bottom: 5px;
    }

    .next {
      height: 45px;
      display: flex;
      align-items: center;

      .links {
        margin-left: 15px;
        display: flex;
        align-items: center;

        .link {
          padding: 5px;
          height: 12px;
          border-right: 1px solid #6c6c6c;

          &:last-child {
            border-right: none;
          }
        }
      }
    }

    .title-text {
      height: 16px;
      font-size: 16px;
      font-weight: bold;
      display: flex;
      align-items: center;
    }

    .btns {
      display: flex;
      align-items: center;
      padding-top: 5px;

      .btn {
        height: 12px;
        padding: 0 5px;
        border-right: 1px solid #6c6c6c;
        display: flex;
        align-items: center;

        &:last-child {
          border-right: none;
        }
      }
    }
  }
}

.search-box {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 10px;

  nz-input-group {
    width: 180px;
    // flex-grow: 1;
    margin-right: 10px;
  }

  .btns {
    position: absolute;
    right: 5px;

    i {
      margin-right: 5px;
    }
  }
}

.tag-list {
  nz-tag {
    cursor: pointer;
  }
}

.right-content {
  max-width: 600px;
  position: relative;
}

.step-btns {
  position: absolute;
  right: 0;
  bottom: -50px;

  button {
    margin-left: 10px;
  }
}