.brand-selector {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;

  .brand-item {
    cursor: pointer;
    background: #3e4243;
    padding: 5px;
    border-radius: 5px;
    height: 50px;
    font-size: 20px;
    transition: all 0.2s;

    img {
      max-width: 140px;
      max-height: 40px;
    }

    &:hover {
      background: #555959;
    }

    &.selected {
      background: #065095;

      &:hover {
        background: #155c96;
      }
    }
  }
}