<app-base-dialog [title]="'历史版本'" [buttons]="buttons" [showCloseButton]="true" [showFooter]="true"
  (closeDialog)="handleClose()" (buttonClick)="onButtonClick($event)">
  <div class="content sscroll">
    <div class="history-list">
      <div class="history-list-item" *ngFor="let item of historyList">
        <div class="history-item">
          <div class="info">
            <div class="time">{{ formatDate(item.timestamp) }}</div>
            <div class="tags">
              <nz-tag [nzColor]="item.type === 'manual' ? 'blue' : 'default'">
                {{ item.type === 'manual' ? '手动保存' : '自动备份' }}
              </nz-tag>
              <span *ngIf="item.note" class="note">{{ item.note }}</span>
            </div>
          </div>
          <div class="actions">
            <button nz-button nzType="link" (click)="restore(item)">还原</button>
          </div>
        </div>
      </div>
      <nz-empty *ngIf="historyList.length === 0"></nz-empty>
    </div>
  </div>
</app-base-dialog>
