<div class="menu-container" (click)="closeEvent.emit()">
    <div class="menu-box bborder" #menuBox [ngStyle]="{ right: 3 + 'px', top: position.y + 'px' ,'width': width + 'px'}"
        (click)="$event.stopPropagation()">
        <div class="content">
            <div class="title">aily Blocky Service</div>
            @if(isLoggedIn){
            <div class="text">欢迎参加我们的AI服务测试</div>
            }@else {
            <div class="text">
                登录后即可使用本软件提供的相关服务
                <!-- <span (click)="more()">了解更多</span> -->
            </div>
            }


        </div>

        @if(isLoggedIn){
        <div class="login-box">
            <div class="item">
                <div class="ccenter">
                    <i class="fa-light fa-user-vneck"></i>
                </div>
                <div class="username">{{ currentUser?.username || currentUser?.login || '用户' }}</div>
            </div>
            <div class="actions">
                <button nz-button nzType="primary" (click)="onLogout()">
                    登出
                </button>
            </div>
        </div>
        }@else {
        <div class="login-box">
            <!-- GitHub 登录按钮 -->
            <div class="github-login-section">
                <button 
                    nz-button 
                    nzType="default" 
                    nzSize="large" 
                    [nzLoading]="isGitHubAuthWaiting"
                    (click)="onGitHubLogin()"
                    class="github-btn">
                    <i class="fa-brands fa-github"></i>
                    <span>{{ isGitHubAuthWaiting ? '授权中...' : '使用 GitHub 登录' }}</span>
                </button>
            </div>

            <nz-divider nzText="或"></nz-divider>

            <!-- 传统登录表单 -->
            @if(!isRegistering) {
            <div class="item">
                <div class="ccenter">
                    <i class="fa-light fa-user"></i>
                </div>
                <input nz-input spellcheck="false" type="text" placeholder="请输入用户名" [(ngModel)]="userInfo.username" />
            </div>
            <div class="item">
                <div class="ccenter">
                    <i class="fa-light fa-lock"></i>
                </div>
                <input nz-input type="password" placeholder="请输入密码" [(ngModel)]="userInfo.password" />
            </div>
            <div class="actions">
                <button 
                    nz-button 
                    nzType="primary" 
                    [nzLoading]="isWaiting"
                    (click)="onLogin()">
                    {{ isWaiting ? '登录中...' : '登录' }}
                </button>
                <button 
                    nz-button 
                    nzType="link" 
                    (click)="toggleRegisterMode()">
                    注册新账户
                </button>
            </div>
            }@else {
            <!-- 注册表单 -->
            <div class="item">
                <div class="ccenter">
                    <i class="fa-light fa-user"></i>
                </div>
                <input nz-input spellcheck="false" type="text" placeholder="请输入用户名" [(ngModel)]="userInfo.username" />
            </div>
            <div class="item">
                <div class="ccenter">
                    <i class="fa-light fa-envelope"></i>
                </div>
                <input nz-input type="email" placeholder="请输入邮箱" [(ngModel)]="userInfo.email" />
            </div>
            <div class="item">
                <div class="ccenter">
                    <i class="fa-light fa-lock"></i>
                </div>
                <input nz-input type="password" placeholder="请输入密码" [(ngModel)]="userInfo.password" />
            </div>
            <div class="actions">
                <button 
                    nz-button 
                    nzType="primary" 
                    [nzLoading]="isWaiting"
                    (click)="onRegister()">
                    {{ isWaiting ? '注册中...' : '注册' }}
                </button>
                <button 
                    nz-button 
                    nzType="link" 
                    (click)="toggleRegisterMode()">
                    返回登录
                </button>
            </div>
            }
        </div>
        }
    </div>
</div>