<app-base-dialog [title]="'用户反馈'" [buttons]="buttons" [showCloseButton]="true" [showFooter]="true"
    [loading]="isSubmitting" (closeDialog)="onCloseDialog()" (buttonClick)="onButtonClick($event)">

    <div class="feedback-form">
        <div class="form-item">
            <label class="form-label">反馈类型
                <span class="required">*</span>
            </label>
            <!-- <nz-select [(ngModel)]="feedbackType" nzSize="small" class="form-control">
                @for(type of feedbackTypes; track type.value) {
                <nz-option [nzValue]="type.value" [nzLabel]="type.label"></nz-option>
                }
            </nz-select> -->
            <nz-radio-group [(ngModel)]="feedbackType">
                @for(type of feedbackTypes; track type.value) {
                <label nz-radio [nzValue]="type.value">{{ type.label }}</label>
                }
            </nz-radio-group>
        </div>

        <div class="form-item">
            <label class="form-label">
                标题
                <span class="required">*</span>
            </label>
            <input class="form-control" nz-input [(ngModel)]="feedbackTitle" placeholder="请输入反馈标题"
                [disabled]="isSubmitting">
        </div>
        <div class="form-item">
            <label class="form-label">
                反馈内容
                <span class="required">*</span>
            </label>
            <textarea nz-input [(ngModel)]="feedbackContent" placeholder="请确保您的反馈内容准确、详细，以便我们更好地帮助您（至少10个字符）" [rows]="6"
                class="form-control" [disabled]="isSubmitting">
            </textarea>
            <div class="char-count">
                {{ feedbackContent.length }} 字符
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">
                联系邮箱 <span class="more">(选填，您可以通过邮箱收到回复)</span>
            </label>
            <input class="form-control" nz-input [(ngModel)]="email">
        </div>
        <div class="tips">
            <div>1. 提交反馈，软件将自动获取版本、环境、项目等必要信息，用于解决问题</div>
            <div>2. 反馈成功后，以上信息将会在 <a (click)="openUrl()">本项目GitHub issues</a> 上公开</div>
        </div>
    </div>

</app-base-dialog>