<app-base-dialog [title]="'FEEDBACK_DIALOG.TITLE' | translate" [buttons]="buttons" [showCloseButton]="true" [showFooter]="true"
    [loading]="isSubmitting" (closeDialog)="onCloseDialog()" (buttonClick)="onButtonClick($event)">

    <div class="feedback-form">
        <div class="form-item">
            <label class="form-label">{{ 'FEEDBACK_DIALOG.FEEDBACK_TYPE' | translate }}
                <span class="required">*</span>
            </label>
            <nz-radio-group [(ngModel)]="feedbackType">
                @for(type of feedbackTypes; track type.value) {
                <label nz-radio [nzValue]="type.value">{{ type.label }}</label>
                }
            </nz-radio-group>
        </div>

        <div class="form-item">
            <label class="form-label">
                {{ 'FEEDBACK_DIALOG.TITLE_LABEL' | translate }}
                <span class="required">*</span>
            </label>
            <input class="form-control" nz-input [(ngModel)]="feedbackTitle" 
                [placeholder]="'FEEDBACK_DIALOG.TITLE_PLACEHOLDER' | translate"
                [disabled]="isSubmitting">
        </div>
        <div class="form-item">
            <label class="form-label">
                {{ 'FEEDBACK_DIALOG.CONTENT_LABEL' | translate }}
                <span class="required">*</span>
            </label>
            <textarea nz-input [(ngModel)]="feedbackContent" 
                [placeholder]="'FEEDBACK_DIALOG.CONTENT_PLACEHOLDER' | translate" 
                [rows]="6"
                class="form-control" [disabled]="isSubmitting">
            </textarea>
            <div class="char-count">
                {{ feedbackContent.length }} {{ 'FEEDBACK_DIALOG.CHAR_COUNT' | translate }}
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">
                {{ 'FEEDBACK_DIALOG.EMAIL_LABEL' | translate }} 
                <span class="more">{{ 'FEEDBACK_DIALOG.EMAIL_OPTIONAL' | translate }}</span>
            </label>
            <input class="form-control" nz-input [(ngModel)]="email">
        </div>
        <div class="tips">
            <div>{{ 'FEEDBACK_DIALOG.TIP_1' | translate }}</div>
            <div>{{ 'FEEDBACK_DIALOG.TIP_2' | translate }} <a (click)="openUrl()">{{ 'FEEDBACK_DIALOG.TIP_2_LINK' | translate }}</a> {{ 'FEEDBACK_DIALOG.TIP_2_END' | translate }}</div>
        </div>
    </div>

</app-base-dialog>